*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
    body{
    background-image: url(/Img/Buscapag.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    /* header */
    .header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    /* busca */
    .busca{
    margin-top: 50px;
    }
    .busca button{
    background-color: black;
    width: 132px;
    height: 54px;
    }
    .busca a{
    font-size: 29px;
    text-decoration: none;
    color: white;
    }
    
    /* Inicio */
    .inicio{
        margin-top: 50px;
    }
    .inicio button{
        background-color: black;
        width: 132px;
        height: 54px;
    }
    .inicio a{
        font-size: 29px;
        text-decoration: none;
        color: white;
    }
    
    /* Pedidos */
    .pedidos{
        margin-top: 50px;
    }
    .pedidos button{
        background-color: black;
        width: 132px;
        height: 54px;
    }
    .pedidos a{
        font-size: 29px;
        text-decoration: none;
        color: white;
    }
    
    /* Cadastro */
    .cadastro{
        margin-top: 50px;
    }
    .cadastro button{
        background-color: black;
        width: 132px;
        height: 54px;
    }
    .cadastro a{
        font-size: 29px;
        text-decoration: none;
        color: white;
    }
    
    /* contato */
    .contato{
        margin-top: 50px;
    }
    .contato button{
        background-color: black;
        width: 132px;
        height: 54px;
    }
    .contato a{
        font-size: 29px;
        text-decoration: none;
        color: white;
    }
    
    /* Quem Somos */
    .quemsomos{
        margin-top: 50px;
    }
    .quemsomos button{
        background-color: black;
        width: 190px;
        height: 54px;
    }
    .quemsomos a{
        font-size: 29px;
        text-decoration: none;
        color: white;
    }

/* section */

.section{
    display: grid;
    grid-template-rows: 100px 230px 100px 400px 100px 400px;
}
.titulo{
    margin-left: 550px;
}
.titulo p{
    margin-top: -35px;
    margin-left: 220px;
    font-size: 29px;
    color: red;
}
.row1{
    display: grid;
    grid-template-columns: 200px 300px 300px 300px 300px 300px;
}

.nigiri{
    grid-row: 2;
    grid-column: 2;
}
.uramaki{
    grid-row: 2;
    grid-column: 3;
}
.enguia{
    grid-row: 2;
    grid-column: 4;
}
.ovas{
    grid-row: 2;
    grid-column: 5;
}
.hosomaki{
    grid-row: 2;
    grid-column: 6;
}

/* formatacao */
.nigiriName p{
    margin-top: -36px;
    margin-left: 45px;
    font-size: 29px;
}
.nigiriPrice p{
    margin-top: -36px;
    margin-left: 20px;
    font-size: 29px;
}
.nigiriPrice{
    margin-left: 30px;
    margin-top: 10px;
}
/* uramaki */
.uramakiName p{
    margin-top: -36px;
    margin-left: 35px;
    font-size: 29px;
}
.uramakiPrice p{
    margin-top: -36px;
    margin-left: 20px;
    font-size: 29px;
}
.uramakiPrice{
    margin-left: 30px;
    margin-top: 10px;
}
/* enguia */
.enguiaName p{
    margin-top: -36px;
    margin-left: 40px;
    font-size: 29px;
}
.enguiaPrice p{
    margin-top: -36px;
    margin-left: 20px;
    font-size: 29px;
}
.enguiaPrice{
    margin-left: 30px;
    margin-top: 10px;
}
/* ovas */
.ovasName p{
    margin-top: -36px;
    margin-left: 55px;
    font-size: 29px;
}
.ovasPrice p{
    margin-top: -36px;
    margin-left: 20px;
    font-size: 29px;
}
.ovasPrice{
    margin-left: 30px;
    margin-top: 10px;
}
/* hosomak */
.hosomakiName p{
    margin-top: -36px;
    margin-left: 25px;
    font-size: 29px;
}
.hosomakiPrice p{
    margin-top: -36px;
    margin-left: 20px;
    font-size: 29px;
}
.hosomakiPrice{
    margin-left: 30px;
    margin-top: 10px;
}