*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(Img/Rectangle4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* header */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* busca */
.busca{
    margin-top: 50px;
}
.busca button{
    background-color: black;
    width: 132px;
    height: 54px;
}
.busca a{
    font-size: 29px;
    text-decoration: none;
    color: white;
}

/* Inicio */
.inicio{
    margin-top: 50px;
}
.inicio button{
    background-color: black;
    width: 132px;
    height: 54px;
}
.inicio a{
    font-size: 29px;
    text-decoration: none;
    color: white;
}

/* Pedidos */
.pedidos{
    margin-top: 50px;
}
.pedidos button{
    background-color: black;
    width: 132px;
    height: 54px;
}
.pedidos a{
    font-size: 29px;
    text-decoration: none;
    color: white;
}

/* Cadastro */
.cadastro{
    margin-top: 50px;
}
.cadastro button{
    background-color: black;
    width: 132px;
    height: 54px;
}
.cadastro a{
    font-size: 29px;
    text-decoration: none;
    color: white;
}

/* contato */
.contato{
    margin-top: 50px;
}
.contato button{
    background-color: black;
    width: 132px;
    height: 54px;
}
.contato a{
    font-size: 29px;
    text-decoration: none;
    color: white;
}

/* Quem Somos */
.quemsomos{
    margin-top: 5vh;
}
.quemsomos button{
    background-color: black;
    width: 19vh;
    height: 54px;
}
.quemsomos a{
    font-size: 29px;
    text-decoration: none;
    color: white;
}

/* section */
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.takeshi{
    margin-left: 10vh;
    margin-top: 10vh;
    width: 100%;
}
.text{
    margin-top: 16vh;
    z-index: 2;
}

.text p{
    z-index: 1;
    font-size: 35px;
    text-align: center;
    margin-left: -35vh;
    margin-top: -45vh;
    color: rgb(255, 0, 0);
}